@model sapra.ViewModels.RestorePasswordViewModel
@{
	ViewData["Title"] = "Recuperación de contraseña";
}
<br><br><br><br>
<div class="text-center row overflow-hidden">
	<form method="post" enctype="multipart/form-data" asp-action="RequestRestorePassword" asp-controller="Authorization" id="formRestorePassword"
	class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-4 mx-auto bg-white rounded text-center">
		<br><h4>@ViewBag.Title</h4>
		<div class="@Model.Response.GetResponseTypeStyle() rounded p-3 m-3 h6 alert-dismissible">
			@Model.Response.Text
		</div>
		<br>
		<div class="form-group mx-auto" style="min-width: 85%; max-width: 85%;">
			<label>Si la dirección de email existe en nuestro sistema, se le enviará un email con un enlace para restaurarla.</label><br><br>
			<input asp-for="Email" placeholder="Correo Electrónico" class="form-control form-control-lg" type="text" value="@Model.Email"><br>
		</div>
		<button class="btn btn-dark text-uppercase" type="submit" style="min-width: 85%">Enviar correo electrónico</button><br><br>
	</form>
</div>
<script>
	$(document).ready(function () {
		$('#navigation').hide();
		$('#footer').hide();
		$('#body').addClass('bg-color1');
	});

	$(function() {
		$("#formRestorePassword").validate({
			rules: {
				Email: {
					email: true,
					required: true,
					minlength: 6,
					maxlength: 64
				},
			},
		messages: {
			Email: "Debe tener entre 4 y 64 letras y ser un correo válido.",
		},
		submitHandler: function(form) {
			form.submit();
		}
	  });
	});
</script>