@model sapra.ViewModels.RestorePasswordViewModel
@{
	if (Model.FirstTimeMode)
	{
		ViewData["Title"] = "Crear contraseña";
	}
	else 
	{
		ViewData["Title"] = "Recuperación de contraseña";
	}
}
<br><br><br><br>
<div class="text-center row overflow-hidden">
	<form method="post" enctype="multipart/form-data" asp-action="RestorePassword" asp-controller="Authorization" id="formRestorePassword"
	class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-4 mx-auto bg-white rounded text-center">
		<br><br><h4>@ViewBag.Title</h4>
		<div class="@Model.Response.GetResponseTypeStyle() rounded p-3 m-3 h6 alert-dismissible">
			@Model.Response.Text
		</div>
		<br><br>
		<input type="hidden" asp-for="Token" value="@Model.Token">
		<div class="form-group mx-auto" style="min-width: 85%; max-width: 85%;">
			<input asp-for="Password" placeholder="Contraseña" class="form-control form-control-lg" type="password"><br>
			<input asp-for="ConfirmPassword" placeholder="Confirmar Contraseña" class="form-control form-control-lg" type="password"><br><br>
			<button class="btn btn-dark text-uppercase" type="submit" style="min-width: 85%">Actualizar contraseña</button><br><br>
		</div>
	</form>
</div>
<script>
	$(document).ready(function () {
		$('#navigation').hide();
		$('#footer').hide();
		$('#body').addClass('bg-color1');
	});

	$(function() {
		$("#formRestorePassword").validate({
			rules: {
				"Password": {
					required: true,
					minlength: 8,
					maxlength: 16
				},
				"ConfirmPassword": {
					required: true,
					equalTo: "#Password"
				},
			},
		messages: {
			"Password": "Debe tener entre 8 y 16 letras.",
			"ConfirmPassword": "Contraseñas deben coincidir.",
		},
		submitHandler: function(form) {
			form.submit();
		}
	  });
	});
</script>