@model sapra.ViewModels.ServerResponseViewModel
@if (Model.FullyScreen) 
{
	<div class="text-center col col-6 mx-auto">
		<br><br><br><br>
		<div class="@Model.GetResponseTypeStyle() rounded-0 p-4 m-4 h6">
			@Model.Text
		</div>
	</div>	
}else
{
	<div class="@Model.GetResponseTypeStyle() rounded p-3 mb-3">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		@Model.Text
	</div>
}