@model MapLayer
<h4>Consultar información sobre una Capa</h4><br>
<div class="form-group">

	<label class="font-weight-bolder">Nombre de la capa:</label><br>
	<label>@Model.Name</label><br><br>
	<label class="font-weight-bolder">Dirección URL de la capa:</label><br>
	<label>@Model.URL</label><br><br>
	@if(Model.MapLayerFields.Count > 0) 
	{
		<label class="font-weight-bolder">Campos para esta capa:</label><br>
		@foreach(MapLayerField field in Model.MapLayerFields)
		{
			<div style="display: inline-block;" class="alert-dark small text-uppercase rounded p-2 m-1">
				<b>@field.Alias</b>: @field.Name 
			</div>
		}
		<br><br>
	}
	<button class="btn btn-primary bg-color1 rounded-0" 
	onclick="setTab('Zone');">
		<i class="btn-has-text fa fa-step-backward"></i>
		Regresar
	</button>
	

</div>